{% extends 'layout.twig' %}

{% block content %}
	<div class="starter-template">
		<h1>Settings</h1>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default ">
				<div class="panel-body">
                    {{ form(form, {'action': path('settings'), 'method': 'POST'}) }}
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endblock %}