body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.loader-document{
    margin : auto;
    display: block;
}

#filter select{
    font-size: 13px;
}

#update-stream{
    white-space: pre-wrap;
    overflow: scroll;
    max-height: 300px;
    background-color: black;
    color: white;
}