parameters:
  #Mirakl Configuration
  mirakl.frontKey: ~
  mirakl.shopKey: ~
  mirakl.operatorKey: ~
  mirakl.baseUrl: ~

  #Hipay configuration
  hipay.wsLogin: ~
  hipay.wsPassword: ~
  hipay.baseUrl: ~
  ## To get from hipay
  hipay.entity: ~
  hipay.locale: 'fr_FR'
  hipay.timezone: 'Europe/Paris'

  ftp.host: ~
  ftp.username: ~
  ftp.password: ~
  ftp.port: 21
  ftp.connectionType: 'ftp'
  ftp.timeout: 90
  ftp.passive: false

  default.zip.path: '/tmp/documents.zip'
  default.ftp.path: '/'

  db.driver: 'pdo_mysql'
  db.host: ~
  db.username: ~
  db.password: ~
  db.name: ~
  db.port: 21

  debug: false

  #the log file path,
  log.file.path: '/var/log/hipay.log'

  mail.host: ~
  mail.port: ~
  mail.security: ~
  mail.username: ~
  mail.password: ~

  mail.subject: ~
  mail.to: ~
  mail.from: ~

  label.public: ~
  label.private: ~
  label.withdraw: ~

  cycle.days:
    - 01
    - 11
    - 21
  cycle.hour: 0
  cycle.minute: 1
  cycle.interval.before: '12h'
  cycle.interval.after: '12h'

  account.technical.email: ~
  account.technical.hipayId: ~

  account.operator.email : ~
  account.operator.hipayId : ~