parameters:
  #Mirakl Configuration
  mirakl.frontKey: ~
  mirakl.operatorKey: ~
  mirakl.baseUrl: ~

  #Hipay configuration
  hipay.wsLogin: ~
  hipay.wsPassword: ~
  hipay.baseSoapUrl: 'https://test-ws.hipay.com'
  hipay.baseRestUrl: 'https://test-merchant.hipaywallet.com'
  hipay.transfer.withdraw.rest: true

  ## To get from hipay
  hipay.entity: ~
  hipay.merchantGroupId: ~
  hipay.locale: 'fr_FR'
  hipay.timezone: 'Europe/Paris'

  default.tmp.path: '/tmp'

  db.driver: 'pdo_mysql'
  db.host: ~
  db.username: ~
  db.password: ~
  db.name: ~
  db.port: 3306

  debug: false

  #the log file path,
  log.file.path: '/var/log/hipay.log'

  mail.host: ~
  mail.port: ~
  mail.security: ~
  mail.username: ~
  mail.password: ~

  mail.subject: ~
  mail.to: ~
  mail.from: ~

  label.public: "public {{miraklId}} – {{hipayId}} - {{cycleDate}}"
  label.private: "private {{miraklId}} – {{hipayId}} - {{cycleDate}}"
  label.withdraw: "withdraw {{miraklId}} – {{hipayId}} - {{cycleDate}}"

  cashout.transactionFilterRegex: ~

  cycle.days:
    - 01
    - 11
    - 21
  cycle.hour: 0
  cycle.minute: 1
  cycle.interval.before: '12 hour'
  cycle.interval.after: '12 hour'

  account.technical.email: ~
  account.technical.hipayId: ~

  account.operator.email : ~
  account.operator.hipayId : ~

  # The minimum logging level at which this handler will be triggered
  # DEBUG = 100;
  # INFO = 200;
  # NOTICE = 250;
  # WARNING = 300;
  # ERROR = 400;
  # CRITICAL = 500;
  # ALERT = 550;
  # EMERGENCY = 600;
  email.logger.alert.level: 300
  db.logger.level: 300
  dashboard.locale: fr